*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "roboto", sans-serif;
  font-size: 16px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: white;
  position: relative;
}
.container .menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.container .menu-container .vault-container {
  margin-top: -150px;
}
.container .menu-container .vault-container:hover {
  background-color: rgba(170, 168, 168, 0.26);
}
.container .menu-container .vault-container:active {
  background-color: #c0bdbd;
}
.container .menu-container .vault-container .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  margin-left: 14px;
}
.container .menu-container .vault-container .list .fas {
  padding: 0.1em 0.2em;
  border-radius: 3px;
  color: gray;
}
.container .menu-container .vault-container .list .fas:hover {
  background-color: rgba(75, 74, 74, 0.26);
  cursor: pointer;
}
.container .menu-container .vault-container .list a {
  text-decoration: none;
  list-style: none;
  color: #494848;
}
.container .menu-container .vault-container .list .fa-ellipsis-h {
  margin-left: -10px;
}
.container .menu-container .vault-container .list .fa-feather-alt {
  margin-left: 40px;
}
.container .menu-container .page-container {
  border-top: 0.2px solid #c7c4c4;
}
.container .menu-container .page-container:hover {
  background-color: rgba(107, 106, 106, 0.26);
}
.container .menu-container .page-container:active {
  background-color: #c0bdbd;
}
.container .menu-container .page-container .list {
  padding: 1em 0;
  margin-left: 15px;
  cursor: pointer;
}
.container .menu-container .page-container .list .fas {
  margin-right: 0.4em;
}
.container .menu-container .page-container .list a {
  text-decoration: none;
  list-style: none;
  color: #494848;
}
.container .sidebar-container {
  min-width: 14em;
  width: 14em;
  background: #f0f3f1;
  flex-grow: 0;
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;
}
.container .content-container {
  height: 100%;
  max-height: 100%;
  background-color: #f9fcfa;
  flex-grow: 1;
  flex-shrink: 1;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
}
.container .content-container .header {
  background-color: #f8f5f5;
  padding: 0.7em;
}
.container .content-container .wrapper-content {
  margin-top: 3em;
}
.container .content-container .wrapper-content .content .container-title {
  margin: 0 auto;
  width: 100%;
  padding: 3em 10em;
  font-size: 1.5rem;
}
.container .content-container .wrapper-content .content .container-title .title {
  outline: none;
  caret-color: #37352f;
  padding: 5px 0px;
  margin-bottom: 10px;
}
.container .content-container .wrapper-content .content .container-title .title:focus-within, .container .content-container .wrapper-content .content .container-title .title:active {
  border: 2px rgba(45, 170, 219, 0.3) solid;
}
.container .content-container .wrapper-content .content .container-title .title::-moz-selection {
  background-color: rgba(45, 170, 219, 0.3);
}
.container .content-container .wrapper-content .content .container-title .title::selection {
  background-color: rgba(45, 170, 219, 0.3);
}
.container .content-container .wrapper-content .content .container-data {
  margin: 0em 10em;
  outline: none;
  background-color: #fcfdfc;
  color: #161616;
  caret-color: #37352f;
}
.container .content-container .wrapper-content .content .container-data:focus-within, .container .content-container .wrapper-content .content .container-data:active {
  border: 2px rgba(45, 170, 219, 0.3) solid;
}
.container .content-container .wrapper-content .content .container-data::-moz-selection {
  background-color: rgba(45, 170, 219, 0.3);
}
.container .content-container .wrapper-content .content .container-data::selection {
  background-color: rgba(45, 170, 219, 0.3);
}

.active {
  margin-left: -14em;
}

.close {
  width: calc(100vw - 14rem);
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}/*# sourceMappingURL=css.css.map */