*,*::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto' , sans-serif;
    html {
        scroll-behavior: smooth
    }
}


.Emoji-panel {
    transform: scale(1);
    z-index: 10;
    display : none;
    position: absolute;
    border-radius: 3px;
    width: 450px;
    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.24);
    min-height: 73vh;
    background-color: rgb(255, 255, 255);
    // Centering the panel {disable}
    // margin: 100px auto;
    .Emoji-container {
        // Main Emoji Panel Styling
        .Emoji-main-panel {
            .Emoji-nav {
                display: flex;
                justify-content: space-between;
                .main-nav ,.sub-nav {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .Emoji-btn {
                        .btn  {
                            cursor: pointer;
                            padding: 0.5em 0.5em;
                            margin: 0.5em 0.5em;
                            &:hover , &:focus {
                            border-radius: 5px;
                            background-color: rgb(230, 223, 223);
                            transition: 0.3s ease-in-out;
                            }
                        }
                        .sub-btn {
                            color: rgba(121, 119, 116, 0.8);
                        }
                    }
                }
            }
        }
    }
.Upload-container {
    .Upload-panel {
            min-height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            flex-direction: column;
            .sub-btn {
            margin-bottom: 1em;
            padding: 0.5em 7em;
            border-radius: 3px;
            color: rgb(245, 238, 238);
            background-color: rgb(28, 184, 231);
                &:hover ,&:focus-within {
                    cursor: pointer;
                    background-color:  rgb(27, 169, 212);;
                }
            }
            .subtext {
                margin-top: 0.2em;
                margin-bottom: 0.5em;
                color: rgba(55, 53, 47, 0.8);
            }
            .subtext-second {
                margin-top : 0.5em;
                color: rgba(55, 53, 47, 0.8);
            }
        }
    }
.link-container {
    .link-panel {
        max-height: 350px;
        min-height: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
            .input-field {
                border-radius: 3px;
                margin-bottom: 1em;
                border: 1px gray solid;
                &:focus-within , &:active  {
                    border: 3px solid rgba(45, 170, 219, 0.3);
                    outline: 0;  
                }
                input {
                    background-color: rgba(240, 238, 231, 0.8);
                    width: 390px;
                    padding: 0.4em 0;
                    outline: none;
                    border: none;
                    padding-left : 0.5em
                }
            }
        .submit-btn {
            margin-top : 0.2em;
            margin-bottom: 1em;
            padding: 0.5em 9em;
            border-radius: 3px;
            border: none;
            color: rgb(245, 238, 238);
            background-color: rgb(28, 184, 231);
                &:hover ,&:focus-within {
                    cursor: pointer;
                    background-color:  rgb(27, 169, 212);;
                }
        }
        .text-url {
            margin-top : 0.2em;
            color: rgba(55, 53, 47, 0.8);
            font-size: 0.8rem;
        }
    }
}
}

.Emoji-search-input {
    padding: 1.2em 0;
.input-container {
        border-radius: 5px;
        margin: 0px 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px gray solid;
        background-color: rgba(240, 238, 231, 0.8);
        cursor: text;
        &:focus-within , &:active  {
            border: 3px solid rgba(45, 170, 219, 0.3);
            outline: 0;  

        }
    }
        .icon-svg {
            border: none;
            background-color: white;
            padding: 0.5em;
            background-color: rgba(240, 238, 231, 0.8);
            .svg-search {
                display: flex;
                align-items: center;
                justify-content: center;
                border: none;
                width: 14px; 
                height: 13px;  
                color: rgba(55, 53, 47, 0.8);
            }
        }
        .input-emoji {
            input {
                background-color: rgba(240, 238, 231, 0.8);;
                width: 390px;
                padding: 0.4em 0;
                outline: none;
                border: none;
            }
        }
    }

.Emoji-list {
    
    padding-bottom: 1.1em;
    .Emoji-set {   
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        height: 335px;
        overflow: auto;
        margin:0 12px;
        .tab-title {
            font-size: 0.7rem; 
            line-height: 2em;
            width: 415px;
            margin: 0.5em 0;
        } 
        .Emoji-flex {
            margin: 0.1em 0.1em;
            .Emoji {
                width: 25px;
                height: 25px;
                background-color: black;
                border-radius: 5px;
                cursor: pointer;
                &:hover , &:focus {
                    background: rgb(197, 194, 194);
                    box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.24);
                }
            }
        }
    }
}

[data-content] {
    display: none;
    border-top: 0.1px solid rgba(138, 137, 135, 0.8);
    
}

.active[data-content] {
    display: block;
    animation: fadeEffect 1s
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

// Emoji Trigger Button 

.Emoji-trigger {
    cursor: pointer;
    z-index: 0;
    background-image: url(./FC_11.png) ;
    background-size: cover;
    background-color: rgb(192, 178, 178);
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50% 10%;
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    left: 1%;
    top: 1%;
    &:hover , &:focus {
    background-color: rgb(194, 182, 182);
    }
}

