*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Emoji-panel {
  -webkit-transform: scale(1);
          transform: scale(1);
  display: none;
  position: absolute;
  border-radius: 3px;
  width: 450px;
  -webkit-box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.24);
          box-shadow: 0em 0em 0.5em rgba(0, 0, 0, 0.24);
  min-height: 73vh;
  background-color: white;
}

.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .main-nav,
.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .sub-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .main-nav .Emoji-btn .btn,
.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .sub-nav .Emoji-btn .btn {
  cursor: pointer;
  padding: 0.5em 0.5em;
  margin: 0.5em 0.5em;
}

.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .main-nav .Emoji-btn .btn:hover, .Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .main-nav .Emoji-btn .btn:focus,
.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .sub-nav .Emoji-btn .btn:hover,
.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .sub-nav .Emoji-btn .btn:focus {
  border-radius: 5px;
  background-color: #e6dfdf;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .main-nav .Emoji-btn .sub-btn,
.Emoji-panel .Emoji-container .Emoji-main-panel .Emoji-nav .sub-nav .Emoji-btn .sub-btn {
  color: rgba(121, 119, 116, 0.8);
}

.Emoji-panel .Upload-container .Upload-panel {
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Emoji-panel .Upload-container .Upload-panel .sub-btn {
  margin-bottom: 1em;
  padding: 0.5em 7em;
  border-radius: 3px;
  color: #f5eeee;
  background-color: #1cb8e7;
}

.Emoji-panel .Upload-container .Upload-panel .sub-btn:hover, .Emoji-panel .Upload-container .Upload-panel .sub-btn:focus-within {
  cursor: pointer;
  background-color: #1ba9d4;
}

.Emoji-panel .Upload-container .Upload-panel .subtext {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  color: rgba(55, 53, 47, 0.8);
}

.Emoji-panel .Upload-container .Upload-panel .subtext-second {
  margin-top: 0.5em;
  color: rgba(55, 53, 47, 0.8);
}

.Emoji-panel .link-container .link-panel {
  max-height: 350px;
  min-height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Emoji-panel .link-container .link-panel .input-field {
  border-radius: 3px;
  margin-bottom: 1em;
  border: 1px gray solid;
}

.Emoji-panel .link-container .link-panel .input-field:focus-within, .Emoji-panel .link-container .link-panel .input-field:active {
  border: 3px solid rgba(45, 170, 219, 0.3);
  outline: 0;
}

.Emoji-panel .link-container .link-panel .input-field input {
  background-color: rgba(240, 238, 231, 0.8);
  width: 390px;
  padding: 0.4em 0;
  outline: none;
  border: none;
  padding-left: 0.5em;
}

.Emoji-panel .link-container .link-panel .submit-btn {
  margin-top: 0.2em;
  margin-bottom: 1em;
  padding: 0.5em 9em;
  border-radius: 3px;
  border: none;
  color: #f5eeee;
  background-color: #1cb8e7;
}

.Emoji-panel .link-container .link-panel .submit-btn:hover, .Emoji-panel .link-container .link-panel .submit-btn:focus-within {
  cursor: pointer;
  background-color: #1ba9d4;
}

.Emoji-panel .link-container .link-panel .text-url {
  margin-top: 0.2em;
  color: rgba(55, 53, 47, 0.8);
  font-size: 0.8rem;
}

.Emoji-search-input {
  padding: 1.2em 0;
}

.Emoji-search-input .input-container {
  border-radius: 5px;
  margin: 0px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px gray solid;
  background-color: rgba(240, 238, 231, 0.8);
  cursor: text;
}

.Emoji-search-input .input-container:focus-within, .Emoji-search-input .input-container:active {
  border: 3px solid rgba(45, 170, 219, 0.3);
  outline: 0;
}

.Emoji-search-input .icon-svg {
  border: none;
  background-color: white;
  padding: 0.5em;
  background-color: rgba(240, 238, 231, 0.8);
}

.Emoji-search-input .icon-svg .svg-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  width: 14px;
  height: 13px;
  color: rgba(55, 53, 47, 0.8);
}

.Emoji-search-input .input-emoji input {
  background-color: rgba(240, 238, 231, 0.8);
  width: 390px;
  padding: 0.4em 0;
  outline: none;
  border: none;
}

.Emoji-list {
  padding: 0.6em;
  overflow: hidden auto;
  height: 55vh;
}

.Emoji-list .tab-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Emoji-list .tab-title .flex-tab {
  padding: 0 10px;
  margin-top: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.Emoji-list .tab-title .flex-tab .Emoji-flex {
  cursor: pointer;
  border-radius: 3px;
  margin: 0.3em 0.1em;
}

.Emoji-list .tab-title .flex-tab .Emoji-flex:hover, .Emoji-list .tab-title .flex-tab .Emoji-flex:focus-within {
  background-color: lightgray;
}

.Emoji-list .tab-title .flex-tab .Emoji-flex .Emoji {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
}

.Emoji-list .tab-title .flex-tab .Emoji-flex .Emoji .Emoji-img {
  width: 80%;
  height: 80%;
}

[data-content] {
  display: none;
  border-top: 0.1px solid rgba(138, 137, 135, 0.8);
}

.empty {
  color: rgba(121, 119, 116, 0.8);
  font-size: 0.9rem;
  padding-bottom: 0.5em;
}

.Emoji-tooltip {
  opacity: 0;
  position: fixed;
  top: 3%;
  left: 5%;
  border-radius: 5px;
  color: white;
  background: rgba(0, 0, 0, 0.918);
  padding: 10px 20px;
  line-height: 1.4em;
  margin: 10px;
  z-index: 99999;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav {
  width: 100%;
  color: rgba(121, 119, 116, 0.8);
  padding: 1em 0;
}

.active[data-content] {
  display: block;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Emoji-trigger {
  cursor: pointer;
  z-index: 0;
  background-image: url(./FC_11.png);
  background-size: cover;
  background-color: #c0b2b2;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 50% 10%;
  color: #fff;
  font-size: 0.8rem;
  position: absolute;
  left: 1%;
  top: 1%;
}

.Emoji-trigger:hover, .Emoji-trigger:focus {
  background-color: #c2b6b6;
}
/*# sourceMappingURL=css.css.map */