* , *::after,*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scrollbar-color: #666 #201c29;
    scrollbar-width: 10px;
    
}

body {
    font-size: 16px;
    /* overflow: hidden; */
}



.container {
    display: flex; 
    height: 100vh;
    position: relative;
    

}

.container nav {
    transition: transform 0.5s ease-in-out;
    width: 20vw;
    height: 100vh;
    background-color: rgba(230, 230, 230, 0.384);
    overflow:auto;
    
}

.container nav.open  {
    position: absolute;
    left: 0;
    transform: translateX(-100%); 
}

.container main {
    position: absolute;
    left: 20%;
    width: 100vw;
    height: 100vh;
    transition: transform 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
    overflow:auto;
}

.container main.close {
    position: absolute;
    left: 0%;
}

.hamburgar  {
    position: absolute;
    display: flex;
    left: 5%;
    top :5%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.hamburgar:hover {
    background-color: rgb(189, 184, 184) ;
    cursor: pointer;
    border-radius: 50%;
   
}


ul > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    
}

ul > li > a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

.fa-plus-square , .fa-file  {
    margin: 0 0.5em;
}

.fa-file:hover , .fa-file:focus {
    color: red;
}



li:hover , li:focus {
    background-color: rgba(224, 217, 217, 0.699) ;
    cursor: pointer;
}

